<script type="text/javascript">
	RootVM.CategoryModals = {
		CreateCategory : new function() {
			var self = this;

			this.Parent = ko.observable(null);

			this.SetParent = function(parent) {
				self.Parent(parent);
			}

			this.NewName = ko.pureComputedEx({
				read : (value) => value,
				write : (value) => value.trim()
			});

			this.NewNameValid = ko.pureComputed(() => {
				if (self.Parent() == null)
					return true;
				for (category in self.Parent().subcategories())
				{
					if (category.name() != self.NewName())
						continue;
					return false;
				}
				return true;
			});

			this.CreateCategory = function() {
				self.Parent().CreateCategory(self.NewName());
				self.SetParent(null);
				self.NewName("");
			};
		},
		DeleteCategory : new function() {
			var self = this;
			this.Item = ko.observable(null);

			this.SetItem = function(item) {
				self.Item(item);
			}

			this.DeleteCategory = function() {
				self.Item().Delete();
				self.SetItem(null);
				self.NewName("");
			};
		},
		RenameCategory : new function() {
			var self = this;

			this.Parent = ko.observable(null);
			this.Item = ko.observable(null);

			this.SetItem = function(item) {
				self.Item(item);
				self.Parent(item.parent);
			}

			this.NewName = ko.pureComputedEx({
				read : (value) => value,
				write : (value) => value.trim()
			});

			this.NewNameValid = ko.pureComputed(() => {
				if (self.Parent() == null)
					return true;
				for (category in self.Parent().subcategories())
				{
					if (category.name() != self.NewName())
						continue;
					return false;
				}
				return true;
			});

			this.RenameCategory = function() {
				self.Parent().RenameCategory(self.NewName());
				self.SetParent(null);
				self.NewName("");
			};
		}
	};
</script>

<div class="modal fade" id="CategoryModals_CreateCategory" data-bind="using : CategoryModals.CreateCategory" tabindex=-1>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Creating category</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
			</div>
			<div class="modal-body">
				<span>Enter a unique name for the new category:</span>
				<input data-bind="textInput: NewName"></input>
				<p />
				<span class="text-danger" data-bind="hidden: NewNameValid">The name must be unique and not empty.</span>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-primary" data-bs-dismiss="modal" data-bind="click: CreateCategory, enable: NewNameValid">
					Create
				</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="CategoryModals_RenameCategory" data-bind="using : CategoryModals.RenameCategory" tabindex=-1>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Renaming category</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
			</div>
			<div class="modal-body">
				<span>Enter a unique name for the category <span data-bind="text: Item() ? Item().name : 'Error'"></span>:</span>
				<input data-bind="textInput: NewName"></input>
				<p />
				<span class="text-danger" data-bind="hidden: NewNameValid">The name must be unique and not empty.</span>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-primary" data-bs-dismiss="modal" data-bind="click: RenameCategory, enable: NewNameValid">
					Rename
				</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="CategoryModals_DeleteCategory" data-bind="using : CategoryModals.DeleteCategory" tabindex=-1>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Deleting category</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
			</div>
			<div class="modal-body">
				<span> Are you sure you want to delete <span data-bind="text: Item() ? Item().name : 'error'"></span>?</span>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-danger" data-bs-dismiss="modal" data-bind="click: DeleteCategory">
					Delete
				</button>
			</div>
		</div>
	</div>
</div>