<script id="ObjectViewTemplate"  type="text/html">

	<div class="flex" style="width:inherit; height:inherit;">
		<!--Types can be added-->
		<div data-bind="template: { name: 'OrganizerTreeView_DocumentTemplate', data: document }"></div>
	</div>
</script>
