<script id="ObjectViewTemplate"  type="text/html">

	<div class="fill">
		<!--New content types can be added-->
		<div class="fill scroll" data-bind="template: { name: ObjectContentTemplate, data: document }"></div>
	</div>
</script>
