<script id="ObjectViewTemplate"  type="text/html">

	<div class="flex" style="width:inherit; height:inherit;">
		<!--New content types can be added-->
		<div data-bind="template: { name: ObjectContentTemplate, data: document }"></div>
	</div>
</script>
