<script type="text/javascript">
	/*
		organizerId - int
		documentData - { id - int, name - string, type - string }
	*/
	function DocumentViewVM(organizerId, documentData) {
		this.OrganizerID = organizerId;
		this.id = ko.utils.get(documentData.id);
		this.name = ko.observable(ko.utils.get(documentData.name)).extend({ store : true });
		this.type = ko.observable(ko.utils.get(documentData.type));
		this.loading = false;

		function loader(target) {
			if (target.loading != false)
				return;
			fetch("/Organizers/" + target.OrganizerID + "/document/" + target.id)
			.then(result => result.json())
			.then(json => ko.mapping.fromJS(json, { "sections" : ko.Mapper.Section }, target));
			//Free up memory
			delete target.loading;
		}

		this.sections = ko.onDemandObservableArray(loader, this);
		this.content = ko.onDemandObservable(loader, this).extend({ store : true });
		this.tags = ko.onDemandObservableArray(loader, this);
	}
</script>

<script type="text/html" id="DocumentViewTemplate">
	<div class="fill">
		<h1 data-bind="text: name"></h1>
		<hr />
		<div class="container-fluid">
			<span>Text goes here</span>
			<span data-bind="text: content"></span>
		</div>
		<hr />
		<div class="container-fluid" data-bind="template: { name: 'SectionViewTemplate', foreach: sections }"></div>
	</div>
</script>