<script type="text/html" id="SectionViewTemplate">
	<div class="container-fluid pb-2 ps-2">
		<div class="fill border-bottom border-top border-start border-dark p-1">
			<h3 data-bind="text: name"></h3>
			<hr />
			<div class="container-fluid">
				<span>Text goes here</span>
				<span data-bind="text: content"></span>
			</div>
			<hr />
			<div class="container-fluid" data-bind="template: { name: 'SectionViewTemplate', foreach: sections }"></div>
		</div>
	</div>
</script>