<script type="text/javascript">
	//Mapper to use when mapping received categories to js objects
	var TreeViewNodeMapper = {
		"subcategories" : {
			create: function(options) {
				var result = ko.mapping.fromJS(options.data);

				function loader(target)
				{
					if (target.loading != false)
						return;
					target.loading = true;
					//Load actual data
					fetch("/Organizers/" + RootVM.OrganizerID + "/category/" + target.id())
					.then(response => response.json())
					.then(json => ko.mapping.fromJS(json, TreeViewNodeMapper, target));
					//Free up memory
					delete target.loading;
				}

				result.loading = false;
				result.subcategories = ko.onDemandObservable(loader, result);
				result.documents = ko.onDemandObservable(loader, result);

				return result;
			}
		}
	};

	//VM for tree view
	RootVM.TreeViewVM = {
		subcategories : ko.observableArray(),
		documents: ko.observableArray()
	};

	//Load data after page load
	OnLoadCallback.push(() => {
		fetch("/Organizers/" + RootVM.OrganizerID + "/root")
		.then(response => response.json())
		.then(json => ko.mapping.fromJS(json, TreeViewNodeMapper, RootVM.TreeViewVM));
	});
</script>

<script type="text/html" id="treeview-category-template">
	<li>
		<a role="button" context-menu="#treeview-category-contextmenu" data-bind="text: name"></a>
		<ul data-bind="template: { name: 'treeview-category-template', foreach: subcategories }"></ul>
		<ul data-bind="template: { name: 'treeview-document-template', foreach: documents }"></ul>
	</li>
</script>

<script type="text/html" id="treeview-document-template">
	<li>
		<a role="button" data-bind="text: title, event: { contextmenu: $root.TreeViewVM.DocumentContextMenu }"></a>
	</li>
</script>

<div id="treeViewRoot">
	<ul data-bind="template: { name: 'treeview-category-template', foreach: TreeViewVM.subcategories }"></ul>
	<ul data-bind="template: { name: 'treeview-document-template', foreach: TreeViewVM.documents }"></ul>
</div>

<div id="treeview-category-contextmenu" class="card" style="display:none">
	<div class="row">
		<a role="button">Button 1</a>
	</div>

	<div class="row">
		<a role="button">Button 1</a>
	</div>
</div>