<!--MUST ME PLACED WITHIN A CONTAINER WHICH HAS ITS CONTEXT SET TO AN INSTANCE OF TreeViewVM-->

<script type="text/html" data-bind="attr: { id : CategoryTemplateID }">
	<li role="button" data-bind="attr: { 'context-menu' : '#'+TreeVM.CategoryContextMenuID }">
		<strong>[C] </strong><span data-bind="text: name"></span>
		<ul data-bind="template: { name: TreeVM.CategoryTemplateID , foreach: subcategories }"></ul>
		<ul data-bind="template: { name: TreeVM.DocumentTemplateID , foreach: documents }"></ul>
	</li>
</script>

<script type="text/html" data-bind="attr: { id : DocumentTemplateID }">
	<li role="button" data-bind="attr: { 'context-menu' : '#'+TreeVM.DocumentContextMenuID }">
		<strong>[D] </strong><span data-bind="text: name"></span>
	</li>
</script>

<div data-bind="attr: { 'context-menu' : '#'+RootContextMenuID }" style="overflow:auto;height:100%">
	<ul class="mb-0" data-bind="template: { name: CategoryTemplateID, foreach: subcategories }"></ul>
	<ul data-bind="template: { name: DocumentTemplateID, foreach: documents }"></ul>
</div>

<div data-bind="attr: { id : DocumentContextMenuID }" class="card" style="display:none">
	<div class="row" role="button" data-bs-toggle="modal" data-bind="click: SetRenameDeleteModalState, attr: { 'data-bs-target' : '#'+RenameDocumentModalID }">
		<span>Rename</span>
	</div>
	<div class="row" role="button" data-bs-toggle="modal" data-bind="click: SetRenameDeleteModalState, attr: { 'data-bs-target' : '#'+DeleteDocumentModalID }">
		<span>Delete</span>
	</div>
</div>

<div data-bind="attr: { id : CategoryContextMenuID }" class="card" style="display:none">
	<div class="row" role="button" data-bs-toggle="modal" data-bind="click: SetCreateModalState, attr: { 'data-bs-target' : '#'+CreateCategoryModalID }">
		<span role="button">Create category</span>
	</div>
	<div class="row" role="button" data-bs-toggle="modal" data-bind="click: SetCreateModalState, attr: { 'data-bs-target' : '#'+CreateDocumentModalID }">
		<span>Create document</span>
	</div>
	<div class="border"></div>
	<div class="row" role="button" data-bs-toggle="modal" data-bind="click: SetRenameDeleteModalState, attr: { 'data-bs-target' : '#'+RenameCategoryModalID }">
		<span>Rename</span>
	</div>
	<div class="row" role="button" data-bs-toggle="modal" data-bind="click: SetRenameDeleteModalState, attr: { 'data-bs-target' : '#'+DeleteCategoryModalID }">
		<span>Delete</span>
	</div>
</div>

<div data-bind="attr: { id : RootContextMenuID }" class="card" style="display:none">
	<div class="row" data-bs-toggle="modal" data-bind="click: SetCreateModalState, attr: { 'data-bs-target' : '#'+CreateCategoryModalID }">
		<a role="button">Create category</a>
	</div>
	<div class="row" data-bs-toggle="modal" data-bind="click: SetCreateModalState, attr: { 'data-bs-target' : '#'+CreateDocumentModalID }">
		<a role="button">Create document</a>
	</div>
</div>

<div class="modal fade" data-bind="attr: { id : CreateCategoryModalID }" tabindex=-1>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Creating category</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
			</div>
			<div class="modal-body">
				<span>Enter a unique name for the new category:</span>
				<input data-bind="textInput: newName"></input>
				<p />
				<span class="text-danger" data-bind="hidden: newCategoryNameValid">The name must be unique and not empty.</span>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-primary" data-bs-dismiss="modal" data-bind="click: CreateCategory, enable: newCategoryNameValid">
					Create
				</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" data-bind="attr: { id : CreateDocumentModalID }" tabindex=-1>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Creating document</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
			</div>
			<div class="modal-body">
				<span>Enter a unique name for the new document:</span>
				<input data-bind="textInput: newName"></input>
				<p />
				<span class="text-danger" data-bind="hidden: newDocumentNameValid">The name must be unique and not empty.</span>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-primary" data-bs-dismiss="modal" data-bind="click: CreateDocument, enable: newDocumentNameValid">
					Create
				</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" data-bind="attr: { id : RenameCategoryModalID }" tabindex=-1>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Renaming category</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
			</div>
			<div class="modal-body">
				<span>Enter a unique name for the category:</span>
				<input data-bind="textInput: newName"></input>
				<p />
				<span class="text-danger" data-bind="hidden: newCategoryNameValid">The name must be unique and not empty.</span>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-primary" data-bs-dismiss="modal" data-bind="click: RenameCategory, enable: newCategoryNameValid">
					Rename
				</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" data-bind="attr: { id : DeleteCategoryModalID }" tabindex=-1>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Deleting category</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
			</div>
			<div class="modal-body">
				<span> Are you sure you want to delete <span data-bind="text: targetObject().name"></span>?</span>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-danger" data-bs-dismiss="modal" data-bind="click: DeleteCategory">
					Delete
				</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" data-bind="attr: { id : RenameDocumentModalID }" tabindex=-1>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Renaming document</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
			</div>
			<div class="modal-body">
				<span>Enter a unique name for the document:</span>
				<input data-bind="textInput: newName"></input>
				<p />
				<span class="text-danger" data-bind="hidden: newDocumentNameValid">The name must be unique and not empty.</span>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-primary" data-bs-dismiss="modal" data-bind="click: RenameDocument, enable: newDocumentNameValid">
					Rename
				</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" data-bind="attr: { id : DeleteDocumentModalID }" tabindex=-1>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Deleting document</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
			</div>
			<div class="modal-body">
				<span> Are you sure you want to delete <span data-bind="text: targetObject().name"></span>?</span>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-danger" data-bs-dismiss="modal" data-bind="click: DeleteDocument">
					Delete
				</button>
			</div>
		</div>
	</div>
</div>