@section Scripts {
	<script src="~/lib/knockout/knockout-lazy.js" type="text/javascript"></script>
	<script src="~/lib/knockout/knockout-store.js" type="text/javascript"></script>
	<script src="~/lib/contextmenu.js" type="text/javascript"></script>
	<script src="~/lib/utils.js" type="text/javascript"></script>
}

@section Css {
	
}

@*Object*@
<partial name="Object/_ObjectVM" />
<partial name="Object/_ObjectView" />

@*Container*@
<partial name="Container/_ContainerVM" />
<partial name="Container/_ContainerModals" />
<partial name="Container/_ContainerView" />

@*Page*@
<partial name="Page/_PageVM"/>
<partial name="Page/_PageView"/>

@*Book*@
<partial name="Book/_BookVM"/>
<partial name="Book/_BookModals"/>
<partial name="Book/_BookView"/>
@*<partial name="Book/_resizer"/>*@

@*Section*@
<partial name="Section/_SectionVM" />
<partial name="Section/_SectionModals" />
<partial name="Section/_SectionView" />

@*Document*@
<partial name="Document/_DocumentVM" />
<partial name="Document/_DocumentModals" />
<partial name="Document/_DocumentView" />

@*Category*@
<partial name="Category/_CategoryVM" />
<partial name="Category/_CategoryModals" />

@*Tree View*@
<partial name="Organizer/_OrganizerVM" />
<partial name="Organizer/_OrganizerTreeViewVM" />
<partial name="Organizer/_OrganizerTreeView" />

<script type="text/javascript">
	//Organizer ID of the organizer we are viewing
	RootVM.OrganizerVM = new OrganizerTreeViewVM({ name : '@ViewData["OrganizerName"]', id : @ViewData["OrganizerID"] }, (item) => {
		RootVM.ActiveItemVM(item);
	});
	RootVM.ActiveItemVM = ko.observable({});
	RootVM.ActiveItemVMTemplate = ko.pureComputed(() => {
		if (RootVM.ActiveItemVM()?.type == undefined)
			return 'EmptyTemplate';
		else if (RootVM.ActiveItemVM().type() == "Document")
			return 'DocumentViewTemplate';
		else if (RootVM.ActiveItemVM().type() == "Book")
			return 'BookViewTemplate';
	});
</script>

<script type="text/html" id="EmptyTemplate">
	<div></div>
</script>

<div class="fill d-flex flex-column border border-primary">
	<div class="row g-0 fill">
		<div id="TreeViewHost" class="col-3 h-100 border-end border-primary">
			<div class="fill" data-bind="template : { name : 'OrganizerTreeView_RootTemplate', data : OrganizerVM }"></div>
		</div>
		<div id="ItemViewHost" class="col h-100 crop">
			<div class="fill p-1 scroll" data-bind="template : { name : ActiveItemVMTemplate, data: ActiveItemVM }">
			</div>
		</div>
	</div>
</div>