@*
	Dependencies:
		Section/_SectionView
		Document/_DocumentVM
*@

<script type="text/javascript">
	@* Extend document VM with methods used by View *@

	DocumentVM.prototype.patch = utils.patch(DocumentVM.prototype.patch, function()  {
		var self = this;

		this.tempname = ko.observable(this.name()).extend({store:true});
		this.name.subscribe((newValue) => self.tempname(newValue));

		this.SaveContent = function() {
			if(!this.SetContent(this.content()))
				this.content.revert();
		}

		this.RevertContent = function() {
			this.content.revert();
		}

		this.SaveName = async function() {
			if (await this.Rename(this.tempname()))
			{
				this.tempname(this.name());
				this.tempname.commit();
			}
			else
				this.tempname.revert();
		}

		this.RevertName = function() {
			this.tempname.revert();
		}

		this.IsNameUnique = ko.pureComputed(function() {
			if(self.tempname()?.length == 0)
				return false;
			for (doc of self.parent.documents())
			{
				if (doc == self || doc.name() != self.tempname())
					continue;
				return false;
			}
			return true;
		});
	});
</script>

<script type="text/html" id="DocumentViewTemplate">
	<div class="fill">
		<div class="d-flex">
			<input class="h1 m-1" data-bind="textInput: tempname"></input>
			<button class="btn btn-sm btn-primary align-self-center m-1" data-bind="click: SaveName, enable: IsNameUnique">Save</button>
			<button class="btn btn-sm btn-secondary align-self-center m-1" data-bind="click: RevertName">Revert</button>
		</div>
		<span data-bind="hidden: IsNameUnique" class="text-danger">The name must be unique and not empty.</span>
		<hr />
		<div class="row">
			<div class="col">
				<div class="p-2" data-bind="foreach : tags">
					<div class="p-2 border border-primary rounded-pill mt-2 mb-2" style="display:inline-block">
						<div class="d-flex">
							<span class="p-3 p-sm-1" data-bind="text: $data"></span>
							<button class="btn btn-danger rounded-circle float-end align-self-center" style="padding: 0.2rem 0.4rem;font-size: 0.5rem;border-radius: 0.2rem;" data-bind="click: $parent.RemoveTag">X</button>
						</div>
					</div>
				</div>
			</div>
			<div class="col-auto d-flex">
				<button class="btn btn-primary align-self-center" data-bs-toggle="modal" data-bs-target="#DocumentModals_AddTag" onclick="RootVM.DocumentModals.AddTag.SetItem(ko.dataFor(this));">Add tag</button>
			</div>
		</div>
		
		<hr />
		<textarea data-bind="textInput: content" class="container-fluid p-1 mb-1"></textarea>
		<div class="container-fluid d-flex justify-content-end">
			<button class="btn btn-primary m-1" data-bind="click: SaveContent">Save</button>
			<button class="btn btn-secondary m-1" data-bind="click: RevertContent">Revert</button>
		</div>
		<hr />
		<div class="container-fluid" data-bind="template: { name: 'SectionViewTemplate', foreach: sections }"></div>
		<div class="container-fluid d-flex justify-content-center">
			<div class="btn btn-primary btn-large" role="button" data-bs-toggle="modal" data-bs-target="#SectionModals_CreateSection" onclick="RootVM.SectionModals.CreateSection.SetParent(ko.dataFor(this));">
				Create new section
			</div>
		</div>
	</div>
</script>