@using Microsoft.AspNetCore.Identity
@using WebAPP.Areas.Identity.Data

@inject SignInManager<UserAccount> SignInManager
@inject UserManager<UserAccount> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <div class="dropdown">
        <a class="d-flex align-items-center" data-bs-toggle="dropdown" aria-expanded="false">
            <span>@UserManager.GetUserName(User)</span>
        </a>
        <ul class="dropdown-menu dropdown-menu-end">
            <li class="dropdown-item">
                <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Account</a>
            </li>
            <div class="dropdown-divider"></div>
            <li class="dropdown-item">
                <a id="logout" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">Logout</a>
            </li>
        </ul>
    </div>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
