<script type="text/javascript">
	// need to generate container with its object
	// container must be draggable, need to get and send coord updates to server
	// containers must be pinned to coordinates of page
	// coordinates of containers movement must be in local page coordinates !

	//context menu on page-click with creation of new blank container?
</script>

<div class="page">
	<p>Page view here.</p>
</div>