<style>
	.DMOcontainer {
		min-width: 100px;
		min-height: 60px;
		padding: 2px;
		position: absolute;
		z-index: 9;
		background-color: white;
		display: flex;
		flex-direction: column;
		border: 2px solid grey;
	}

	.containerHeader {
		flex: 0;
		z-index: 10;
		display: flex;
	}

	.draggable {
		min-width: 20px;
		min-height: 20px;
		cursor: move;
		box-sizing: border-box;
		background-color: #dff2ff;
		flex: 0;
	}

	.content {
		flex: 1;
		overflow: auto;
		margin-top: 0px;
		margin-right: 10px;
		margin-left: 10px;
		margin-bottom: 10px;
	}

	.resizeButton {
		min-width: 10px;
		min-height: 10px;
		max-width: 10px;
		max-height: 10px;
		cursor: se-resize;
		background-color: darkgrey;
		position: absolute;
		bottom: 0px;
		right: 0px;
		flex: 2;
	}
</style>

<script id="ContainerViewTemplate" type="text/html">

	<div class="DMOcontainer" data-bind="attr: {id: id()},style: { width: width(), height: height(), left: coordX(), top: coordY() }">

		<div class="d-flex containerHeader">
			<div class="draggable flex-grow-1" id="contDraggable"></div>
			<button class="setB btn btn-outline-primary btn-sm" data-bind="attr: {id: id()}" data-bs-toggle="modal" data-bs-target="#Container_SetContentModal" onclick="RootVM.SetContainerContentTriggerElement(ko.dataFor(this));">Set</button>
			<button  data-bind="click: DeleteContainer" class="delB btn btn-danger btn-sm">&times;</button>
		</div>
		
		<div class="content" data-bind="template: { name: ContainerContentTemplate, foreach: objectDMOs }"></div>

		<div class="ui-resizable-se resizeButton" data-bind="attr: {id: id()}"></div>
	</div>
</script>
