<!-- SCRIPT FOR PAGE VIEW MODEL -->
<partial name="../Page/Page.js"></partial>

<!--
	architorture: 
	1) current selected page view, 
		++area must support page scrolling, if page can't fit inside,

	2) ++list of current book pages,
		with menu (++add page, ++delete page, add container? change page positions?)
		+~pages in list are selectable
		page icon?

		create modal for errors and book creation

	++between - dragbar to change areas proportions,
				page-list and page-area(?) has min-width
-->
<style>
	.book {
		min-height: 200px;
		max-height:500px;
		background-color: darkgray; /*for debug*/
		margin: 10px;
		display: flex;
		overflow: auto;
	}
	.pageViewContainer {
		width: 75%;
		min-width: 200px;
		overflow: auto;
		align-items:center;
		padding:20px;
	}
	.resizer {
		cursor: ew-resize;
		width:5px;
		background-color: grey;
	}

</style>
<script type="text/javascript">
	// Book view model
	var BookVM = {
		id: ko.observable(),
		name: ko.observable(),
		parentCategoryId: ko.observable(),
		pageDMOs: ko.observableArray()
	};

	// Id of this book view instance
	var BookID = @ViewData["BookID"];
	BookVM.ActivePageVM = ko.observable(null);


	// request list data after page loading
	OnLoadCallback.push(() => {
		fetch("/Organizers/Book/" + BookID + "/content")
			.then(response => response.json())
			.then(json => ko.mapping.fromJS(json.books[0], {}, BookVM))
			.catch(error => console.error('Unable to get items.', error));
	});

</script>

<script id="fallback-template" type="text/html">
	<h3>Select page...</h3>
</script>

<script id="templatePageVM" type="text/html">
	<div data-bind="using: BookVM.ActivePageVM">
			<partial name="../Page/Page"/>
	</div>
</script>


<!--Body-->
<div class="book">
	<div class="pageViewContainer" id="pageVC">
		<div data-bind="template: {name: (BookVM.ActivePageVM() ? 'templatePageVM' : 'fallback-template'), data:ActivePageVM}">

		</div>
		<!--
		<div data-bind="if: BookVM.ActivePageVM()">
			<div data-bind="using: BookVM.ActivePageVM">
				<h3 data-bind="text: id"></h3>

				<div data-bind="using: PageVM">
					<partial name="../Page/Page" />
				</div>

			</div>
		</div>
		-->

	</div>

	<div class="resizer" id="dragbar"></div>

	<div style="overflow: auto;">
		<table class="table" id="pageTable">
			<thead style="background-color:white;">
				<tr>
					<th scope="col">Page</th>
					<th scope="col">Add container</th>
					<th scope="col">Delete page</th>
				</tr>
			</thead>
			<tbody id="pageListContainer" data-bind="foreach: BookVM.pageDMOs" style="background-color:white; min-width:50px;">
				<tr data-bind="attr: {id: $data.id}, click: BookVM.SelectActivePage">
					<td data-bind="text: $data.position" style="align-content:center;"></td>
					<td><input data-bind="attr: {id: $data.id}, click: BookVM.AddContainerOnPage" type="button" class="btn btn-outline-primary btn-sm" value="+" style="align-content:center;"></td>
					<td><input data-bind="attr: {id: $data.id}, click: BookVM.DeletePage" type="button" class="btn btn-outline-danger btn-sm" value="&times" style="align-content:center;"></td>
				</tr>
			</tbody>
		</table>
		<table id="addPgBth">
			<tr>
				<td><input onclick="BookVM.AddPage()" type="button" class="btn btn-primary btn-sm" value="Add page" style="align-content:center; background-color:none;"></td>
			</tr>
		</table>
	</div>
</div>

<!--Initial load-->
<script type="text/javascript">
	
	// Select row and set new active page view
	BookVM.SelectActivePage = function (row) {
		var newPageId = row.id();

		if (BookVM.ActivePageVM() != null)
		{
			if (BookVM.ActivePageVM().id() != newPageId) {
				// need to change colors to mark selected row
				BookVM.ActivePageVM(new ActivePageVM(newPageId));
			}
		}
		else 
		{ 
			// need to change colors to mark selected row
			BookVM.ActivePageVM(new ActivePageVM(newPageId));
		}
		
	}

	// Create new page and add in the last position of the book
	BookVM.AddPage = function () {
		debugger;
		let newPos;
		// calculate unique position for new page
		if (BookVM.pageDMOs().length == 0) {
			newPos = 1;
		}
		else {
			// 'add page' pushes new page with biggest position at the end of array
			var obj = BookVM.pageDMOs()[BookVM.pageDMOs().length - 1];
			newPos = obj.position() + 1;
		}

		fetch("/Organizers/Page/create/" + BookVM.id() + "/" + newPos,
		{ method: "POST" })
			.then(response => response.json())
			.then(json => BookVM.pageDMOs.push(ko.mapping.fromJS(json.value.pages[0])))
            .catch(error => console.error('Unable to add items.', error));

	}

	// Add new blanc container on chosen page
	BookVM.AddContainerOnPage = function (row, event) {
		debugger;
		console.log("add cont on ", this);
		event.stopPropagation();
	}

	// Delete chosen page from book, other page's position will be updated
	BookVM.DeletePage = function (row, event) {
		debugger;
		event.stopPropagation();
		// Id of page, represented by table row
		var pId = row.id();

		fetch("/Organizers/Page/delete/" + BookVM.id() + "/" + pId,
		{method: "DELETE"})
		.then((response) => {
			debugger;
			// check if deletion was successful
			if (response.status == Number(202))
			{
				//check if deleted page was open as view
				if (BookVM.ActivePageVM() != null) 
				{
					if (BookVM.ActivePageVM().id() == pId) 
					{
						BookVM.ActivePageVM(null);
					}
				}
			}
			else
			{
				console.error("Something went wrong when deleting. Page pos:",
					row.position(),
					response.status);
			}
			
			return response.json();
		})
		.then(json => ko.mapping.fromJS(json.pages, {}, BookVM.pageDMOs))
		.catch(error => console.error('Unable to delete items.', error));
	}
</script>


<!--resizer-->
<script type="text/javascript">
	// Get elements
	const resizer = document.getElementById('dragbar');
	const leftContainer = resizer.previousElementSibling;
	const rightContainer = resizer.nextElementSibling;

	// current mouse position
	let x = 0;
	let y = 0;
	let leftWidth = 0;

	// mouse down event handler
	const mouseDownHandler = function (e) {
		// Get the current mouse position
		x = e.clientX;
		y = e.clientY;
		leftWidth = leftContainer.getBoundingClientRect().width;

		// Attach the listeners to `document`
		document.addEventListener('mousemove', mouseMoveHandler);
		document.addEventListener('mouseup', mouseUpHandler);
	};

	// mouse move event handler
	const mouseMoveHandler = function (e) {
		// How far the mouse has been moved
		const dx = e.clientX - x;
		const dy = e.clientY - y;

		const newLeftWidth = ((leftWidth + dx) * 100) / resizer.parentNode.getBoundingClientRect().width;
		leftContainer.style.width = `${newLeftWidth}%`;

		resizer.style.cursor = 'col-resize';
		document.body.style.cursor = 'col-resize';

		leftContainer.style.userSelect = 'none';
		leftContainer.style.pointerEvents = 'none';

		rightContainer.style.userSelect = 'none';
		rightContainer.style.pointerEvents = 'none';
	};

	// mouse up event handler
	const mouseUpHandler = function () {
		resizer.style.removeProperty('cursor');
		document.body.style.removeProperty('cursor');

		leftContainer.style.removeProperty('user-select');
		leftContainer.style.removeProperty('pointer-events');

		rightContainer.style.removeProperty('user-select');
		rightContainer.style.removeProperty('pointer-events');

		// Remove the handlers of `mousemove` and `mouseup`
		document.removeEventListener('mousemove', mouseMoveHandler);
		document.removeEventListener('mouseup', mouseUpHandler);
	};

	// Attach the handler
	resizer.addEventListener('mousedown', mouseDownHandler);

</script>
