html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Need to think about coordinates and page size, now 150dpi (1684x1190) */
.page {
    background-color: wheat; /*for debug*/
    margin: 10px;
    height: 1684px;
    width: 1190px;
}

.book {
    background-color: darkgray; /*for debug*/
    margin: 10px;
}
