<style type="text/css">
	.book {
		width: inherit;
		height: inherit;
		max-height: inherit;
		min-height: 200px;
		background-color: darkgray;
		display: flex;
		overflow: auto;
	}
	.pageViewContainer {
		width: 75%;
		height: inherit;
		min-width: 200px;
		overflow: auto;
		align-items:center;
	}
</style>

<script type="text/javascript">
	@* Extend book VM with methods used by View *@

		BookVM.prototype.patch = utils.patch(BookVM.prototype.patch, function () {
			var self = this;

			this.SaveContent = function () {
				if (!this.SetContent(this.content()))
					this.content.revert();
			}

			this.RevertContent = function () {
				this.content.revert();
			}

			this.SaveName = function () {
				if (!this.Rename(this.name()))
					this.name.revert();
			}

			this.RevertName = function () {
				this.name.revert();
			}

			this.IsNameUnique = ko.pureComputed(function () {
				if (self.name()?.length == 0)
					return false;
				for (book of self.parent.books()) {
					if (book == self || book.name() != self.name())
						continue;
					return false;
				}
				return true;
			});
		});
</script>

<!--Body-->
<script type="text/html" id="BookViewTemplate">

	<div class="book fill">
		<div class="pageViewContainer">
			<div data-bind="template: {name: ($data.ActivePageVM() ? 'PageViewTemplate' : 'EmptyTemplate'), data:$data.ActivePageVM}"></div>
		</div>

		<div class="bg-secondary" style="width:5px;"></div>

		<div style="overflow: auto;">
			<table class="table pageTable">
				<thead style="background-color:white;">
					<tr>
						<th scope="col">Page</th>
						<th scope="col">Add container</th>
						<th scope="col">Delete page</th>
					</tr>
				</thead>
				<tbody class="pageListContainer" data-bind="foreach: $data.pageDMOs" style="background-color:white; min-width:50px;">
					<tr data-bind="attr: {id: $data.id}, click: $parent.SelectActivePage">
						<td data-bind="text: $data.position" style="align-content:center;"></td>
						<td><input data-bind="attr: {id: $data.id}, click: $parent.AddContainerOnPage" type="button" class="btn btn-outline-primary btn-sm" value="+" style="align-content:center;"></td>
						<td><input data-bind="attr: {id: $data.id}, click: $parent.DeletePage" type="button" class="btn btn-outline-danger btn-sm" value="&times" style="align-content:center;"></td>
					</tr>
				</tbody>
			</table>
			<table id="addPgBth" style="overflow:auto;">
				<tr>
					<td><input data-bind="click: $data.AddPage" type="button" class="btn btn-primary btn-sm" value="Add page" style="align-content:center; background-color:none;"></td>
				</tr>
			</table>
		</div>
	</div>
</script>

